html, body {
    background-color: #3e4560;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; Prevent horizontal scrolling */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px; 
    box-sizing: border-box; 
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    background-color: #3e4560;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5%;
    height: auto;
}

p {
    font-size: 1.2rem;
}
 
/* Classes   */
.fifty-percent-div {
    display: flex;
    width: 50%;
    align-items: center;
}

.responsive-img {
    width: 100%;
    max-width: 100%; 
    height: auto; 
}

.responsive-app-icon {
    width: 100%;
    height: auto;
    border-radius: 10%; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.responsive-logo {
    width: 100%;
    max-width: 300px; 
    height: auto; 
}
 

.responsive-photo {
    border-radius: 50%;
    width: 90%;
    height: auto;
    object-fit: cover; 
}

.responsive-photo-2 {
    border-radius: 50%;
    width: 20%;
    height: auto;
    
}

.responsive-hero {
    width: 100%;
    height: auto;
    border-radius: 10%;
}

.button {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}

.app-icon {
    width: 10%; 
    height: 75%;
    opacity: 1; 
    transition: all 0.2s ease-in-out;
    transform-origin: bottom; 
    z-index: 13;
}
  
.app-icons {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    gap: 2%; 
    z-index: 12; 
}

.responsive-project-image {
    width: 100%;
    height: auto;
    border-radius: 0px;
    object-fit: contain; 
    border-radius: 20px;
    padding: 10px;
}

.app-icon:hover {
    transform: scale(1.4); 
}

/* NAVIGATION */
#main-navigation {
    background-color: #3e4560;
    position: sticky;
    top: 0;
    z-index: 100;
    margin: 0;
}

#main-menu {
    display: flex;
    align-items: center;
}   

#nav-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    list-style-type: none;
}  

#projects-button {
    color: #fffff9;
}

#projects-button:hover {
    color: #ed4545;
    text-decoration: none;
} 

#road-map-button {
    border: 2px solid #ed4545;
    width: auto 50px;
    border-radius: 20px;
    color: #fffff9;
}

#road-map-button:hover {
    background-color: #fffff9;
    color: #3e4560;
}

#feedback-button {
    background-color: #fffff9;
    border: 2px solid #3e4560;
    border-radius: 20px;
    color: #23455b;
}   

#feedback-button:hover {
    border: 2px solid #fffff9;
    background-color: #3e4560;
    color: #fffff9;
}

/* HERO SECTION */

#hero-section {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: auto;
    height: auto;
    border-radius: 10px;
    padding: 1%;
}   

#about-me-div {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

    width: 30%;
    height: auto;
}
#about-me-text {
    background-color: #ffffff;
}   

#about-me-image {
    width: auto;
    height: auto;
    padding: 10px;
}   


#projects-div {
    background-color: #ffffff;
    width: 70%;
    margin: 0 auto;
    height: auto;
    position: relative;
}
  
#projects-image {
    z-index: 1; 
    position: relative;
    text-align: center; 
}

#video-container {
  z-index: 2;
  position: absolute;
  top: 9%;
  left: 7%;
  width: 86%;
  height: 50%;
  border-radius: 10px;
}

#dock-bar {
  background-color: lightgrey;
  position: absolute;
  top: 61%;
  left: 12%;
  width: 75%;
  height: 10%;
  display: flex;
  flex-direction: column; 
  justify-content: flex-end; 
  align-items: center;
  z-index: 2; 
  transition: transform 0.3s ease;
  transform-origin: bottom;
  border-radius: 25px;
}

#dock-bar:hover {
    transform: scale(1.05);
}
  
/* ABOUT-ME SECTION */
#about-me-section {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background-color: #fffff9;
  border-radius: 10px;
}

#about-me-spacer {
  background-color: brown;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#about-me-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; 
  width: 100%;
}

#about-image {
  width: 30%;
  padding: 10px;
}

#about-image img {
  border-radius: 50%;
}

#about-me-text-2  {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  text-align: justify;
}
/* PROJECTS SECTION */

#projects-section {
  background-color: lightblue;
  border-radius: 10px;
  width: 100%;
  height: auto;
  display: none;
  flex-direction: column;
  align-items: flex-start;
}

#projects {
  display: flex;
  flex-direction: column;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 10px;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-text-title {
  color: #000;
  margin: 0;
}
.project-text-link {
  color: #fffff9;
  text-decoration: none;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.project-text-description {
  margin: 0;
  width: 50%;
  text-align: justify;
}

.project-image {
height: auto;
width: fit-content;
display: flex;
justify-content: center;
}

#section-title-2 {
  color: #23455b;
  padding-left: 10px;
}

.project-image {
  width: 20%;
  padding: 10px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain; /* Ensure the aspect ratio is maintained */
}

.project-divider {
  border: 0;
  height: 3px;
  background: #fffff9; /* Change color as needed */
  margin: 10px 0; /* Adjust spacing as needed */
}

/* ROADMAP SECTION */
#roadmap-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fffff9;
    border-radius: 10px;
  }

  #up-next-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #section-title {
    padding-left: 10px;
  }

  #events {
    padding: 10px;
    height: 150px auto;
    display: flex;
    flex-direction: row;
    gap: 0.5%;
  }

  #calendar-container {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  


  .month-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Change this to space-between */
    width: 100%;
    margin-bottom: 10px;
  }
  
  .month-header {
    flex: 1;
    font-size: 0.8em;
    white-space: nowrap;
    color: gray;
  }
  
  #calendar-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 0.5%; 
  }
  
  .calendar-week {
    display: flex;
    flex-direction: column;
    width: calc(100% / 52);
  }
  
  .day-box {
    width: 100%;
    height: 20px;
    margin: 1px 0;
    border: 1px solid #e1e4e8;
    cursor: pointer;
    background-color: #ebedf0;
    transition: background-color 0.3s ease;
  }
  
  .day-box[data-event] {
    background-color: #9be9a8; /*  color */
  }
  
  .day-box:hover {
    border: 1px solid #6ba276;
  }
  
  .day-box:hover[data-event] {
    background-color: #40c463; /* light green color */
  }
  
  .day-box:hover:not([data-event]) {
    background-color: #f3f3f3; /*  light grey color */
  }
  
  .tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
  }

.event-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border: 1px solid #e1e4e8;
    border-radius: 10px;
}

.event-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.event-date {
    font-size: 1em;
    color: #666;
    margin-bottom: 5px;
}

.event-description {
    font-size: 0.9em;
    color: #333;
}

/* FEEDBACK SECTION */
#feedback-section {
    background-color: #e7edeb;
    height: auto;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
  #road-map-button, #feedback-button {
      font-size: 0.8rem; 
      padding: 5px;
  }

  #projects-button {
      display: none;
  }

  #calendar-container {
    display: none;
  }
  
  #events {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 950px) {

  #hero-section {
    display: none !important;
  }

  #about-me-section {
    display: flex !important; 
  }
  
  #projects-section {
    display: flex !important; 
  }
}